<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:simple_p2p.db</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.dialect">com.simple_p2p.config.SQLiteDialect</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="com.simple_p2p.entity.MessageTable"/>
        <mapping class="com.simple_p2p.controller.ChatController"/>
        <mapping class="com.simple_p2p.entity.UserConnection"/>
        <mapping class="com.simple_p2p.entity.FileNode"/>
    </session-factory>
</hibernate-configuration>